DB_HOST="your_database_host"
DB_PORT=3306
DB_USERNAME="your_database_username"
DB_PASSWORD="your_database_password"
DB_NAME="your_database_name"
ACCESS_TOKEN_SECRET="your_access_token_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
ADMIN_EMAIL="your_admin_email"
ADMIN_PASSWORD="your_admin_password"
ADMIN_FIRST_NAME="your_admin_first_name"
ADMIN_LAST_NAME="your_admin_last_name"